*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
html,body{
  height: 100%;
  width: 100%;

}
body{
  background-color: #000;
}
.Card{
  background-color: rgb(171, 38, 60);
  border-radius: 10px;
  margin:20px;
  padding: 20px;
}
.Navbar{
  display: flex;
  background-color: rgb(31, 15, 108);
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
